@model IEnumerable<WebSiteLKDT.Models.DanhMucSanPham>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Danhmuc";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh mục</h1>


<table class="table">
    <div class="row">
    <thead>
        <tr>
            <th>
                Tên danh mục
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </td>
            <td> 
                    <a asp-action="Xoadanhmuc" asp-route-madanhmuc="@item.MaDanhMuc">Xóa</a>
            </td>
        </tr>
}
    </tbody>
    </div>
</table>
<button class="btn btn-primary">
    <a asp-action="Themdanhmuc" style="color: white;">Tạo mới danh mục</a>
</button>
