@model WebSiteLKDT.Models.LbUser
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Suataikhoan";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .form-group-hidden {
        display: none;
    }
</style>

<h1>Sửa tài khoản</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Suataikhoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaUser" />
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group form-group-hidden" id="passwordFormGroup">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DienThoai" class="control-label"></label>
                <input asp-for="DienThoai" class="form-control" />
                <span asp-validation-for="DienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleId" class="control-label"></label>
                <input asp-for="RoleId" class="form-control" />
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoTen" class="control-label"></label>
                <input asp-for="HoTen" class="form-control" />
                <span asp-validation-for="HoTen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <input type="submit" formaction="Taikhoan" value="Trở lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    function togglePasswordField() {
        var passwordFormGroup = document.getElementById("passwordFormGroup");
        if (passwordFormGroup.classList.contains("form-group-hidden")) {
            // Nếu đang ẩn, hiển thị phần tử
            passwordFormGroup.classList.remove("form-group-hidden");
        } else {
            // Nếu đang hiển thị, ẩn phần tử
            passwordFormGroup.classList.add("form-group-hidden");
        }
    }
</script>