
@{
    ViewData["Title"] = "TrangChu";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}


@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<SanPham>


<div class="main">
	<div class="content">
		<div class="content_top">
			<div class="heading">
				<h3>Sản phẩm </h3>
			</div>
			<div class="see">
				<p><a href="#">Xem tất cả sản phẩm</a></p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="section group">
			@foreach (var item in Model)
			{
				<div class="grid_1_of_4 images_1_of_4">
					<a href="preview.html"><img src="@Url.Content("~/UserLayout/images/" + item.Anh)" alt="Hình ảnh" /></a>
					<h2>@item.TenSanPham</h2>
					<div class="price-details">
						<div class="price-number">
							<p><span class="rupees">$@item.GiaBan</span></p>
						</div>
						<div class="add-cart">
							<h4><a href="preview.html">Add to Cart</a></h4>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				
			}
            
		</div>
	</div>
</div>

@Html.PagedListPager(Model, page=>Url.Action("TrangChu",new{page=page}))
