<!DOCTYPE HTML>
<head>
	<title>Free Home Shoppe Website Template | About :: w3layouts</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="../UserLayout/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="../UserLayout/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../UserLayout/js/move-top.js"></script>
	<script type="text/javascript" src="../UserLayout/js/easing.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="header">
			<div class="headertop_desc">
				<div class="call">
					<p><span>Need help?</span> call us <span class="number">1-22-3456789</span></span></p>
				</div>
				<div class="account_desc">
					<ul>
						<li><a asp-area="" asp-controller="Home" asp-action="TrangDangNhap">Đăng nhập</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="TrangDangKy">Đăng ký</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="header_top">
				<div class="logo">
					<a href="index.html"><img src="../UserLayout/images/logo.png" alt="" /></a>
				</div>
				<div class="cart">
					<p>
						Welcome to our Online Store! <span>Cart:</span><div id="dd" class="wrapper-dropdown-2">
							0 item(s) - $0.00
							<ul class="dropdown">
								<li>you have no items in your Shopping cart</li>
							</ul>
						</div>
					</p>
				</div>

				<div class="clear"></div>
			</div>
			<div class="header_bottom">
				<div class="menu">
					<ul>
						<li class="active"><a asp-area="" asp-controller="Home" asp-action="TrangChu">Trang Chủ</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="TrangGioiThieu">Giới thiệu</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				<div class="search_box">
					<form>
						<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
					</form>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		@RenderBody()
	</div>
	<div class="footer">
		<div class="wrap">
			<div class="section group">
				<div class="col_1_of_4 span_1_of_4">
					<h4>Thông Tin</h4>
					<ul>
						<li><a href="gioi-thieu.html">Về Chúng Tôi</a></li>
						<li><a href="lien-he.html">Dịch Vụ Khách Hàng</a></li>
						<li><a href="#">Tìm Kiếm Nâng Cao</a></li>
						<li><a href="don-dat-hang.html">Đơn Đặt Hàng và Trả Hàng</a></li>
						<li><a href="lien-he.html">Liên Hệ Chúng Tôi</a></li>
					</ul>
				</div>

				<div class="col_1_of_4 span_1_of_4">
					<h4>Tại Sao Chọn Chúng Tôi</h4>
					<ul>
						<li><a href="gioi-thieu.html">Về Chúng Tôi</a></li>
						<li><a href="lien-he.html">Dịch Vụ Khách Hàng</a></li>
						<li><a href="#">Chính Sách Bảo Mật</a></li>
						<li><a href="lien-he.html">Bản Đồ Website</a></li>
						<li><a href="#">Điều Khoản Tìm Kiếm</a></li>
					</ul>
				</div>

				<div class="col_1_of_4 span_1_of_4">
					<h4>Tài Khoản Của Tôi</h4>
					<ul>
						<li><a href="lien-he.html">Đăng Nhập</a></li>
						<li><a href="trang-chu.html">Xem Giỏ Hàng</a></li>
						<li><a href="#">Danh Sách Mong Muốn Của Tôi</a></li>
						<li><a href="#">Theo Dõi Đơn Đặt Hàng Của Tôi</a></li>
						<li><a href="lien-he.html">Hỗ Trợ</a></li>
					</ul>
				</div>

				<div class="col_1_of_4 span_1_of_4">
					<h4>Liên Hệ</h4>
					<ul>
						<li><span>+91-123-456789</span></li>
						<li><span>+00-123-000000</span></li>
					</ul>
					<div class="social-icons">
						<h4>Theo Dõi Chúng Tôi</h4>
						<ul>
							<li><a href="#" target="_blank"><img src="../UserLayout/images/facebook.png" alt="" /></a></li>
							<li><a href="#" target="_blank"><img src="../UserLayout/images/twitter.png" alt="" /></a></li>
							<li><a href="#" target="_blank"><img src="../UserLayout/images/skype.png" alt="" /> </a></li>
							<li><a href="#" target="_blank"> <img src="../UserLayout/images/dribbble.png" alt="" /></a></li>
							<li><a href="#" target="_blank"> <img src="../UserLayout/images/linkedin.png" alt="" /></a></li>
							<div class="clear"></div>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="copy_right">
			<p> Design by <a href="http://w3layouts.com/">...</a></p>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function () {
			$().UItoTop({ easingType: 'easeOutQuart' });

		});
	</script>
	<a href="#" id="toTop"><span id="toTopHover"> </span></a>
</body>
</html>

