@model WebSiteLKDT.Models.CartModel

<li><i class="fa fa-shopping-cart" aria-hidden="true" style="font-size:1.2em"></i><a asp-area="" asp-controller="Cart" asp-action="Index" style="font-size:0.8em">Giỏ hàng (@Model.Quantity)</a></li>